.dashboard {
  transition: 250ms;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr;
  grid-gap: 20px;
  flex-grow: 1;
  padding: 20px;

  &__body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    grid-column: 1/-1;
    color: #141414;
    font-weight: 500;
    font-size: 24px;
  }

  &__head {
    display: flex;
    justify-content: space-between;

    .dashboard__title {
      text-transform: uppercase;
      color: #585d6d;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 17px;
    }

    [for="prepared-for-modal"] {
      border-bottom: 1px solid #000;
      font-size: 14px;
      color: #141414;
      font-weight: 500;
      cursor: pointer;
    }
  }

  &__hero-title {
    font-size: 72px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card-- {
    &mega {
      grid-row: 2/-1;
      display: flex;
      flex-direction: column;
    }

    &promotion {
      grid-column: 2/-1;
    }
  }

  &__button {
    font-weight: 700;
    color: white;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  &__grid {
    display: grid;
    height: 85px;
    grid-gap: 24px;
    grid-template-columns: auto 1fr auto;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: #fff6de;
      top: 0;
      bottom: 0;
      left: -20px;
      right: -20px;
      z-index: -1;
      transform: scaleX(0) skewX(80deg);
      transition: 250ms;
      transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }

    &:hover::before {
      content: "";
      position: absolute;
      background-color: #fff6de;
      top: 0;
      bottom: 0;
      left: -20px;
      right: -20px;
      z-index: -1;
      transform: scaleX(3) skewX(80deg);
    }
  }

  &__list {
    width: 100%;
  }

  &__svg,
  &__info,
  &__watch {
    align-self: center;
  }

  &__watch {
    color: white;
    padding: 0 19px;
  }
}

@keyframes shake {
  from,
  to,
  85% {
    transform: translate3d(0, 0, 0);
  }

  86%,
  88%,
  90%,
  92%,
  94%,
  96%,
  98% {
    transform: translate3d(7px, 3px, 0);
  }

  87%,
  89%,
  91%,
  93%,
  95%,
  97%,
  99% {
    transform: translate3d(-7px, 3px, 0);
  }
}

[class^="dashboard__card"] {
  background-color: white;
  padding: 20px;
  clip-path: polygon(
    15px 0,
    calc(100% - 15px) 0,
    100% 15px,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 calc(100% - 15px),
    0 15px
  );
}
