input(type="checkbox" id="modal")
.modal
  .modal__wrapper
    .modal__head add new update
    .modal__body
      input.input-text(
        type="text",
        placeholder="Title"
      )
      input.input-text(
        type="text",
        placeholder="Link"
      )
      .modal__button-group
        label(for="modal").button__normal--green Add update
        label(for="modal").button__normal--grey Cancel