input.sidebar-input( type="checkbox", id="sidebar-collaps")
.sidebar
  .sidebar__account-wrapper
    label.sidebar__menu-square(for="sidebar-collaps")
      .icon__arrow-right
    .sidebar__account My Account

  .sidebar__user-account
    include ../user-detail/user-detail

  nav.sidebar-menu
    a.icon__clock(href='#')
      span.sidebar-name Menu Item
    a.icon__clock(href='#')
      span.sidebar-name Menu Item
    a.icon__clock(href='#')
      span.sidebar-name Menu Item
    a.icon__clock(href='#')
      span.sidebar-name Menu Item
    a.icon__clock(href='#')
      span.sidebar-name Menu Item