.sidebar__account {
  display: none;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;

  &-wrapper {
    padding: 18px 0 18px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.sidebar {
  width: 90px;
  background-color: #1b1a2d;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  transition: 250ms;

  &__menu-square {
    transition: 250ms;
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sidebar-menu {
  margin-top: 20px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.25s;
    text-decoration: none;

    &:hover::before {
      color: #fff;
    }

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      transition: 0.25s;
      margin-left: 0px;
      color: rgba(255, 255, 255, 0.6);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover .sidebar-name {
      color: #fff;
    }

    &::before {
      transition: 0.25s;
      font-size: 24px;
    }

    &:hover + .sidebar-name {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.sidebar-name {
  display: none;
  flex-grow: 1;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.25s;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-family: Roboto, serif;
}

.xp-wrapper {
  display: none;
}

.sidebar-input {
  &:checked {
    ~ .dashboard {
      margin-left: 282px;
    }

    & + .sidebar {
      width: 262px;

      & .sidebar__menu-square {
        transform: rotate(180deg);
      }
      &.sidebar__user-label {
        transform: rotate(180deg);
      }

      .user-detail__icon-wrapper,
      button.icon__plus {
        display: none;
      }

      .sidebar-name,
      .sidebar__account,
      button[class^="button__normal--"],
      .xp-wrapper {
        display: block;
      }
      button[class^="button__normal--"] {
        margin-top: 20px;
      }

      .sidebar__user-wrapper {
        display: grid;
        transform: 250ms;
      }

      .icon__clock::before {
        margin-left: 16px;
      }

      .button__wrapper {
        margin: 0;
      }
    }
  }
}

.button__wrapper {
  display: flex;
  justify-content: space-around;
}

#collaps-user-detail {
  display: none;

  &:checked ~ .xp-wrapper {
    height: 0;
    overflow: hidden;
  }
}
