$icomoon-font-family: "dashboard" !default;
$icomoon-font-path: "asset/font" !default;

$dash-plus: "\e908";
$dash-chevron-left: "\e900";
$dash-cinema: "\e901";
$dash-clock: "\e902";
$dash-horn: "\e903";
$dash-play: "\e904";
$dash-present: "\e905";
$dash-stats: "\e906";
$dash-user: "\e907";

