$icomoon-font-family: "dashboard" !default;
$icomoon-font-path: "asset/font" !default;

$icon__arrow-down: "\e90d";
$icon__arrow-left: "\e90c";
$icon__arrow-right: "\e900";
$icon__plus: "\e901";
$icon__cinema: "\e902";
$icon__clock: "\e903";
$icon__gift-heart: "\e905";
$icon__horn: "\e906";
$icon__user: "\e90b";
