.user-detail__icon-wrapper {
  position: relative;
  margin: 44px auto 80px;
  display: flex;
  justify-content: center;

  .dash-cinema::before {
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms;
  }
}

.sidebar__user-label {
  background-color: rgba(255, 255, 255, 0.1);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #c4c4c4;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: ease-in;
}

.user-detail {
  padding: 10px 20px 20px;
  transition: 250ms;
  background-color: rgba($color: #fff, $alpha: 0);
  &__star {
    background: url("#{$baseUrl}asset/image/star.svg");
    display: block;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0 auto;
    position: relative;

    &::after {
      content: attr(attr-number);
      color: black;
      position: absolute;
      top: 4px;
      right: 8px;
      font-weight: bold;
    }
  }

  .button__wrapper {
    margin-left: -10px;
    margin-right: -10px;
  }
}

button[class^="button__normal--"],
.sidebar__user-wrapper .sidebar__user-label,
.sidebar__user-wrapper .xp__bar--blue,
.sidebar__user-wrapper .hr,
.sidebar__user-wrapper .sidebar__user-name {
  display: none;
}

button[class^="button__normal--"] {
  width: 106px;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.button__normal--grey {
  background-color: #4f5168;
}

button {
  background-color: #00bd71;
}

label.dashboard__random-button {
  background-color: #fff;
  color: #585d6d;
  font-weight: 700;
  border: 1px solid #d5dee7;
  border-radius: 6px;
  cursor: pointer;
}

button,
.dashboard__random-button {
  border: 0;
  width: 100%;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  display: block;
  text-align: center;
  text-transform: uppercase;

  &::before {
    color: white;
    font-size: 22px;
  }
}

.sidebar__user- {
  &wrapper {
    grid-template-columns: 25px 1fr 25px;
    grid-gap: 10px;
  }

  &name {
    align-self: center;
  }
}

.hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 10px -20px;
  grid-column: 1/-1;
}

.user-detail__star {
  display: block;
}

.xp__ {
  &total,
  &bar--blue,
  &bar--grey {
    grid-column: 1/-1;
  }

  &total {
    font-size: 24px;
    line-height: px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &bar--blue,
  &bar--grey {
    border-radius: 2px;
    height: 4px;
    position: relative;
    overflow: hidden;
    background: rgba($color: #fff, $alpha: 0.1);
    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 4px;
      top: 0;
      left: 0;
      width: 60%;
    }
  }

  &bar--blue {
    &::after {
      width: 80%;
      background: linear-gradient(184.41deg, #21a2ff 5.59%, #3861fb 97.24%);
    }
  }

  &bar--grey {
    &::after {
      width: 67%;
      background: #4f5168;
    }
  }
}

.numestel__cum-vrei-tu-wrapper {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}

.xp__number {
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.xp__text {
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #d5dee7;
}
